<div class="menu-login-links">
    <a class="button logout" target="_blank" href="/ige/" title="Anmeldung">
        <span class="text">Anmeldung</span>
        <span class="ic-ic-user"></span>
    </a>
</div>