#iframe_measure {
    height: 100%;
}

.embed-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 157px;
}

@media screen and (max-width: 939px) {
    .embed-container {
        top: 117px;
    }
}

@media screen and (max-width: 767px) {
    .embed-container {
        top: 60px;
    }
}
