/.idea/
/user/plugins/admin/
/user/plugins/devtools/
/user/plugins/email/
/user/plugins/error/
/user/plugins/flex-objects/
/user/plugins/form/
/user/plugins/login/
/user/plugins/markdown-notices/
/user/plugins/problems/
/user/plugins/ingrid-search-result/vendor/
/user/plugins/ingrid-detail/vendor/
/user/plugins/ingrid-rss/vendor/
/user/plugins/ingrid-codelist/vendor/
/user/plugins/ingrid-catalog/vendor/
/user/plugins/ingrid-grav/vendor/
/user/themes/ingrid/node_modules
/logs
/data/codelists/
/data/downloads/
/data/feeds/
/data/flex/
/data/notifications/
/data/contact-form/
/develop/config/plugins/
/system