/.idea/
/user/plugins/admin/
/user/plugins/devtools/
/user/plugins/email/
/user/plugins/error/
/user/plugins/flex-objects/
/user/plugins/form/
/user/plugins/login/
/user/plugins/markdown-notices/
/user/plugins/problems/
/user/plugins/ingrid-grav/vendor/
/user/themes/*/node_modules
/user/themes/*/pages/init/home/modular.md
/logs
/data/licenses.yaml
/data/codelists/
/data/downloads/
/data/feed/
/data/feeds/
/data/flex/
/data/notifications/
/data/contact-form/
/data/scheduler/
/develop/config/plugins/
/develop/config/system.yaml
/system