{% import 'macros/default_macros.html.twig' as macros %}

<div class="columns">
  <div class="header-menu-open">
    <button class="button xsmall-button" title="{{ "PAGES.MENU"|t }}" aria-label="{{ "PAGES.MENU"|t }}"><span class="ic-ic-hamburger"></span></button>
    <button class="button small-button">{{ "PAGES.MENU"|t }}<span class="ic-ic-hamburger"></span></button>
  </div>
</div>