<div class="about">
    <a id="teaser.ingridInform.title"></a>
    <div class="about-wrapper dark" style="background-image: url('{{ url('theme://images/template/drops-small.svg') }}');">
        <div class="row">
            {% set theme = config.get('system.pages.theme') %}
            <div class="xsmall-24 medium-12 large-14 columns">
                {{ page.content|raw }}
            </div>
            <div class="medium-12 large-10 columns show-for-medium">
                <div class="img-wrapper">
                    <img src="{{ url('theme://images/template/illu-map-boxes.svg') }}" alt="illu-map-boxes.svg" class="">
                </div>
            </div>
        </div>
    </div>
</div>
