{% set copyright_text = theme_var('footer_copyright_text') %}
{% if copyright_text %}
<div class="copyright">
    <span class="icon"></span>
    <span class="text copyright_text">{{ copyright_text }}</span>
</div>
{% endif %}