{# Information #}

<div class="section">
    <a class="anchor" id="{{ hash_info }}"></a>
    {{ hit_macros.render_title("SEARCH_DETAIL.SUBJECT_REFERENCE_TAB"|t) }}
    <div class="row columns">
    {# Informationen zum Datensatz #}
        {% include 'partials/detail/metadata/parts/information/information_type.html.twig' %}
    {# Zusatzinformationen #}
        {% if infoRefs_additional|length > 0 %}
            {% include 'partials/detail/metadata/parts/information/information_additional.html.twig' %}
        {% endif %}
    </div>
</div>