{# @var search_result \Grav\Plugin\SearchResult #}

<div class="results-index">
    <div class="row">
        {% include 'partials/search/result/result_counter.html.twig' %}
    </div>
</div>
<div class="filters-active">
</div>
{% if search_result.hits|length > 0 %}
    {% for hit in search_result.hits %}
        {% if in_array('address', hit.datatypes) %}
            {% include 'partials/search/result/hit/result_hit_address.html.twig' with {hit:hit, counter: loop.index0} %}
        {% elseif in_array('www', hit.datatypes) %}
            {% include 'partials/search/result/hit/result_hit_www.html.twig' with {hit:hit} %}
        {% else %}
            {% include 'partials/search/result/hit/result_hit_metadata.html.twig' with {hit:hit, counter: loop.index0} %}
        {% endif %}
  {% endfor %}
  {% include 'partials/search/result/result_counter_bottom.html.twig' %}
{% else %}
    <p><strong>$MESSAGES.getString('common.result.noResults')</strong><br /><br /></p>
{% endif %}
