{% if previews %}
    <div class="xsmall-24 small-24 medium-10 columns">
        <h4 class="text-center">{{ "SEARCH_DETAIL.PREVIEW"|t }}</h4>
        {{ hit_macros.render_multi_images(previews, partners) }}
    </div>
{% endif %}