{# Metadatenquellen #}
{% if metaInfoRefs.partner or metaInfoRefs.providers %}
    <div class="table table--lined">
        <table>
            <tbody>
            <tr>
                <th>{{ "SEARCH_DETAIL.METADATA_SOURCE"|t }}</th>
                <td>
                    <div>
                        {{ metaInfoRefs.dataSourceName }}
                    </div>
                </td>
            </tr>
            {% for provider in metaInfoRefs.providers %}
                <tr>
                    <th></th>
                    <td>
                        <div>
                            {{ provider }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}