{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="search-filtered row content-small">
        <div class="columns">
            <h4>{{ "DATASOURCE.CONNECTED_DATABASES"|t }}:</h4>
            {% for plug in plugs %}
                <p>{{ plug }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
