{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="body" role="main">
        <div class="search-filtered">
            <div class="row">
                <div class="xsmall-24 large-6 xlarge-6 columns">
                    {% if help_menu %}
                    <div class="accordion accordion-filter-group filter" data-accordion data-allow-all-closed="true" role="tablist">
                        <div class="accordion-item accordion-item-filter-group" data-accordion-item>
                            <a href="#" class="accordion-title accordion-title-filter-group hide-for-large" aria-controls="help-accordion" role="tab" aria-expanded="false" aria-selected="false">Navigation</a>
                            <div class="accordion-content filter-wrapper js-anchor-navigation" data-tab-content role="tabpanel">
                                <div class="boxes">
                                    {{ help_menu | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if help_menu %}
                    {{ help_content | raw }}
                {% else %}
                    {{ "HELP.ERROR_MESSAGE"|t }}
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'partials/global/side-menu/nicescroll.html.twig' %}
    {% include 'partials/global/side-menu/active-entry.html.twig' %}

{% endblock %}
