<div class="row content-small">
    <div class="columns">
        <div class="form">
            <p>
                Die gewünschte Seite existiert nicht.
            </p>
            <ul>
                <li>
                    Falls Sie über ein altes Lesezeichen gekommen sind, bitte aktualisieren Sie Ihr Lesezeichen oder Ihre Favoriten
                </li>
                <li>
                    Falls Sie die Adresse (URL) selbst eingetippt haben, überprüfen Sie bitte die Schreibweise.
                </li>
                <li>
                    Versuchen Sie über die Startseite die gewünschte Seite zu finden.
                </li>
                <li>
                    <div class="link-list">
                        <a class="icon" href="{{ page.find('/home').url }}">
                            <span class="ic-ic-arrow"></span>
                            <span class="text">Startseite</span>
                        </a>
                    </div>
                </li>
            </ul>
            <br>
            <p>
                Danke für Ihr Verständnis.
            </p>
        </div>
    </div>
</div>