{% set copyright_text = theme_var('footer.copyright.text') %}
{% set copyright_show_year = theme_var('footer.copyright.show_year') %}

{% if copyright_text %}
<div class="copyright">
    <span class="icon"></span>
    <span class="text copyright_text">{% if copyright_show_year %}{{ "now"|date("Y") }} {% endif %}{{ copyright_text }}</span>
</div>
{% endif %}