{% set footer_logo_default = theme_var('footer.logo_default') %}
{% set footer_logo = theme_var('footer.logo') %}
{% set footer_logo_enabled = theme_var('footer.logo_enabled') %}

{% if footer_logo_enabled %}
    {% if footer_logo %}
        {% set footer_logo_file = (footer_logo|first).path %}
    {% elseif footer_logo_default %}
        {% set footer_logo_file = (footer_logo_default|first).path %}
    {% endif %}

    <div class="logo">
        <a href="{{ page.find('/home').url }}" title="{{ "PAGES.HOME_MENU_TITLE"|t(header_title_extend) }}">
            <img class="footer__logo" src="{{ url(footer_logo_file) }}" alt="{{ site.title }}">
        </a>
    </div>
{% endif %}