<div class="row content-small">
    <div class="columns">
        <div class="form">
            <p>
                Die gewünschte Seite scheint nicht mehr zu existieren. Sie wurde umbenannt, gelöscht oder existiert nicht.
            </p>
            <ul>
                <li>
                    Falls Sie über ein altes Lesezeichen gekommen sind, bitte aktualisieren Sie Ihr Lesezeichen oder Ihre Favoriten.
                </li>
                <li>
                    Falls Sie die Adresse (URL) selbst eingetippt haben, überprüfen Sie bitte die Schreibweise.
                </li>
                <li>
                    Versuchen Sie über die <a href="/startseite">Startseite</a>
                    oder die <a href="/inhaltsverzeichnis">Inhaltsübersicht</a>
                    die gewünschte Seite zu finden
                </li>
                <li>
                    Oder stöbern Sie in den verschiedenen Such-Kategorien von InGrid-Portal:
                    <div class="link-list">
                        <a class="icon" href="/freitextsuche">
                            <span class="ic-ic-arrow"></span>
                            <span class="text">Suche</span>
                        </a>
                        <a class="icon" href="/kartendienste">
                            <span class="ic-ic-arrow"></span>
                            <span class="text">Karte</span>
                        </a>
                        <a class="icon" href="/messwertsuche">
                            <span class="ic-ic-arrow"></span>
                            <span class="text">Messwerte</span>
                        </a>
                        <a class="icon" href="/datenkataloge">
                            <span class="ic-ic-arrow"></span>
                            <span class="text">Kataloge</span>
                        </a>
                        <a class="icon" href="/api">
                            <span class="ic-ic-arrow"></span>
                            <span class="text">API</span>
                        </a>
                    </div>
                </li>
            </ul>
            <br>
            <p>
                Danke für Ihr Verständnis.
            </p>
        </div>
    </div>
</div>