{# Kontakt #}

<div class="section">
    <a class="anchor" id="{{ hash_contact }}"></a>
    {{ hit_macros.render_title("SEARCH_DETAIL.CONTACT"|t)}}
    <div class="row columns">
        {{ hit_macros.render_contact(contactRefs|sortContacts(sortContactByType), sortAddressTyp, hash_contact) }}
    </div>
</div>