{# Kontakt #}

<div class="section">
    <a class="anchor" id="{{ hash_contact }}"></a>
    {{ hit_macros.render_section_title("search.detail.contact")}}
    <div class="row columns">
        {{ hit_macros.render_contact(contactRefs, sortAddressTyp, hash_contact) }}
    </div>
</div>