<div class="category">
    <a id="teaser.shortcut.query.title"></a>
    <div class="columns">
        <div class="row">
            <div class="columns text-center"><h2>{{ page.header.custom_title.title|t }}</h2></div>
        </div>
        <div class="row">
            {{ page.content|raw }}
        </div>
    </div>
</div>
<br>
<br>