{% import 'macros/default_macros.html.twig' as macros %}

{% set footer_copyright_class = theme_var('footer.copyright.class') %}
{% set footer_menu_class = theme_var('footer.menu_class') %}
{% set footer_hr_line = theme_var('footer.hr_line') %}
{% set menu_footer = theme_var('menu.footer') %}

<footer>
    <div class="footer-buttons-bar show-for-medium hide-for-print">
        {% include 'partials/footer/socials.html.twig' %}
        {% include 'partials/footer/print.html.twig' %}
        {% include 'partials/footer/up.html.twig' %}
    </div>
    <div class="footer">
        {% if footer_hr_line %}
        <hr>
        {% endif %}
        <div class="row">
            <div class="{{ footer_copyright.class }} columns">
                {% include 'partials/footer/logo.html.twig' %}
                {% include 'partials/footer/copyright.html.twig' %}
            </div>
            <div class="{{ footer_menu_class }} columns">
                <div class="footer-menu-entries" role="navigation" aria-label="Navigation Footer">
                    {{ macros.footer_nav_loop(menu_footer, pages) }}
                </div>
            </div>
        </div>
    </div>
</footer>