{% set header_logo_class = theme_var('header.logo_class') %}
{% set header_menu_class = theme_var('header.menu_class') %}
{% set header_menu_dropdown = theme_var('header.menu_dropdown') %}

<header>
    <div class="row">
        <div class="{{ header_logo_class }} columns">
            {% include 'partials/header/logo.html.twig' %}
        </div>
        <div class="{{ header_menu_class }} columns nav-tabs">
            <nav class="main-nav">
                {% include 'partials/header/navigation.html.twig' %}
            </nav>
        </div>
        {% if header_menu_dropdown %}
            {% include 'partials/header/menu.html.twig' %}
        {% endif %}
    </div>
</header>