{% if page.content|length > 0 %}
<div class="search-filtered row">
    <div class="xsmall-24 columns text-center">
        {% if page.header.title|length > 0 %}
            <h2>{{ page.header.title }}</h2>
        {% endif %}
        <div class="row alert">
            <div class="columns">
                <div class="error no-margin">
                    <div class="alert-text">
                        {{ page.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}