<dialog id="search-map-overlay">
    <div id="search-map-row" class="row">
        <div class="small-24 large-24 columns">
            <div id="search-map-big"></div>
            <div id="nominatim">
                <input id="nominatim-query" class="input-search-field" type="text" placeholder="Ortssuche">
                <div id="nominatim-result"></div>
            </div>
            <div id="spatial-buttons">
                <input id="spatial-cancel" class="button hollow" type="button" value="Schließen">
                <input id="spatial-send" class="button" type="button" value="Anwenden">
            </div>
        </div>
    </div>
</dialog>
