{% if headerContent is not empty %}
    {{ headerContent|raw }}
    {% block body %}
        </div> {# close requested header content #}
        <div class="body ingrid" role="main">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
    {% if page.header.footer_disabled != true %}
        {% block footer %}
            {{ footerContent|raw }}
        {% endblock %}
    {% else %}
            </body>
        </html>
    {% endif %}
{% endif %}
