{% set header_title_extend = theme_var('header.title_extend') %}

{% set headerResponse = getHtmlHeaderZDM('ZDM') %}
{% if headerResponse is not empty %}
    {{ headerResponse|raw }}
    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
    {% if page.header.footer_disabled != true %}
        {% set footerResponse = getHtmlFooterZDM('ZDM') %}
        {% block footer %}
            {{ footerResponse|raw }}
        {% endblock %}
    {% else %}
            </body>
        </html>
    {% endif %}
{% endif %}
