.ingrid *,
.ingrid *:before,
.ingrid *:after {
  box-sizing: border-box;
}

.ingrid html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.body.ingrid {
  color: #666;
  font: 14px/1.6 Arial, sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*
 *  Base: Typography
 *________________________*/
.ingrid h1,
.ingrid h2,
.ingrid h3,
.ingrid h4,
.ingrid h5,
.ingrid h6 {
  color: #000;
  line-height: 1.2;
}

.ingrid h1,
.ingrid h2,
.ingrid h3,
.ingrid h4 {
  font-family: "Roboto Condensed", sans-serif;
}
.ingrid h1 small,
.ingrid h2 small,
.ingrid h3 small,
.ingrid h4 small {
  display: inline;
  font-size: .65em;
}

.ingrid h3,
.ingrid h5,
.ingrid .h6 {
  font-weight: 400;
}

.ingrid blockquote {
  margin: 5rem 0;
}

.ingrid cite {
  display: block;
  font-style: normal;
}

.ingrid ol,
.ingrid ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.ingrid p {
  margin: 1rem 0;
}

.ingrid small {
  color: #999;
  display: block;
  font-size: 0.8125rem;
}

.ingrid sub,
.ingrid sup {
  line-height: 1;
}

/*
 *  Base: Media
 *______________________*/
.ingrid img {
  border: 0;
  display: block;
  max-width: 100%;
}

.ingrid figure {
  margin: 1.875rem 0;
}

.ingrid iframe {
  border: 0;
  display: block;
  width: 100%;
}

.ingrid .media {
  margin: 1.875rem 0;
}

.ingrid .media__body {
  overflow: auto;
}

/*
 *  Base: Form
 *________________________*/
.ingrid button:not([disabled]) {
  cursor: pointer;
}

.ingrid fieldset {
  border: 0;
  padding: 0;
}

.ingrid button,
.ingrid textarea {
  line-height: inherit;
}

.ingrid input,
.ingrid select,
.ingrid textarea {
  border-radius: 0;
  font-family: inherit;
}

.ingrid input,
.ingrid textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ingrid select {
  background: #fff;
  height: 2.25rem;
}

.ingrid label {
  cursor: pointer;
  display: block;
  font-weight: 700;
  line-height: 1.2;
}

.ingrid textarea {
  max-width: 100%;
  min-height: 8em;
}

.ingrid input[type="checkbox"] {
  cursor: pointer;
  margin: 0;
}

.ingrid input[type="date"] {
  width: 100%;
}

/*
 *  Base: Table
 *________________________*/
.ingrid table {
  border-collapse: collapse;
  width: 100%;
}
.ingrid table input[type="checkbox"] {
  float: left;
  margin-top: .3em;
}

.ingrid td,
.ingrid th {
  padding: 0.5rem 0.75rem 0.5rem 0;
  vertical-align: top;
}

.ingrid th {
  text-align: left;
}

/*
 *  Atom: Typography
 *______________________*/
/*
    Headlines
*/
.ingrid h1,
.ingrid .h1 {
  font-size: 2.25rem;
}

.ingrid h2,
.ingrid .h2 {
  font-size: 1.75rem;
}

.ingrid h4,
.ingrid .h4 {
  font-size: 1.25rem;
}

.ingrid h1 {
  margin: 2.5rem 0 1.875rem;
}

.ingrid h2 {
  margin: 2.5rem 0 1.25rem;
}

.ingrid h3 {
  font-size: 1.5rem;
  margin: 1.875rem 0 1.25rem;
}

.ingrid h4,
.ingrid h5,
.ingrid h6 {
  margin: 1.875rem 0 1rem;
}

.ingrid h5 {
  font-size: 1rem;
}

.ingrid h6 {
  font-size: 0.875rem;
}

/*
    Copy Text
*/
.ingrid a {
  color: #4EAD46;
  text-decoration: none;
}
.ingrid a:hover {
  color: #666;
}

.ingrid hr {
  background: #DDD;
  border: 0;
  height: 1px;
  margin: 2.5rem 0;
}

.ingrid .hr-thick {
  height: 2px;
}

.ingrid .hr-small {
  max-width: 6.25rem;
  margin: 1.875rem 0 1.25rem;
}

.ingrid .hr-small-full {
  margin: 0.875rem 0;
}

.ingrid .meta {
  color: #666;
}

.ingrid .hero {
  color: #999;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}
.ingrid .hero + .hero {
  margin-top: 1.875rem;
}

.ingrid .caption {
  color: #999;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  margin: 1.25rem 0;
}

.ingrid .title-font {
  font-weight: normal;
}

/*
 *  Atom: Quote
 *______________________*/
.ingrid .quote {
  text-align: center;
}

.ingrid .quote__content {
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
}

.ingrid .quote__author {
  color: #666;
}

/*
 *  Bits: Images
 *______________________*/
.ingrid .image {
  float: left;
}

.ingrid .image--narrow {
  margin-right: auto;
  margin-left: auto;
  max-width: 27.5rem;
}

/*
 *  Atoms: Fields
 *______________________*/
.ingrid input[type="text"],
.ingrid input[type="password"],
.ingrid input[type="date"],
.ingrid select,
.ingrid textarea,
.ingrid .field-toggle__label--boxed {
  border: 1px solid #28225B;
  color: #000;
  font-size: 0.875rem;
  padding: 0.5rem;
}
.ingrid input[type="text"]::-webkit-input-placeholder,
.ingrid input[type="password"]::-webkit-input-placeholder,
.ingrid input[type="date"]::-webkit-input-placeholder,
.ingrid select::-webkit-input-placeholder,
.ingrid textarea::-webkit-input-placeholder,
.ingrid .field-toggle__label--boxed::-webkit-input-placeholder {
  color: #333;
}
.ingrid input[type="text"]:-moz-placeholder,
.ingrid input[type="password"]:-moz-placeholder,
.ingrid input[type="date"]:-moz-placeholder,
.ingrid select:-moz-placeholder,
.ingrid textarea:-moz-placeholder,
.ingrid .field-toggle__label--boxed:-moz-placeholder {
  color: #333;
}
.ingrid input[type="text"]::-moz-placeholder,
.ingrid input[type="password"]::-moz-placeholder,
.ingrid input[type="date"]::-moz-placeholder,
.ingrid select::-moz-placeholder,
.ingrid textarea::-moz-placeholder,
.ingrid .field-toggle__label--boxed::-moz-placeholder {
  color: #333;
}
.ingrid input[type="text"]:-ms-input-placeholder,
.ingrid input[type="password"]:-ms-input-placeholder,
.ingrid input[type="date"]:-ms-input-placeholder,
.ingrid select:-ms-input-placeholder,
.ingrid textarea:-ms-input-placeholder,
.ingrid .field-toggle__label--boxed:-ms-input-placeholder {
  color: #333;
}

.ingrid input[type="text"],
.ingrid input[type="password"],
.ingrid select,
.ingrid textarea {
  width: 100%;
}
.ingrid input[type="text"]:focus,
.ingrid input[type="password"]:focus,
.ingrid select:focus,
.ingrid textarea:focus {
  outline: 2px solid #4EAD46;
}
.ingrid input[type="text"]:disabled,
.ingrid input[type="password"]:disabled,
.ingrid select:disabled,
.ingrid textarea:disabled {
  background: #EEE;
}

.ingrid input[type="date"] {
  height: 2.25rem;
}

.ingrid label {
  color: #000;
  font-size: inherit;
}

.ingrid .field {
  margin-bottom: 1.875rem;
}
.ingrid label + .field {
  margin-top: 0.625rem;
}
.ingrid .field + small {
  margin: -1.25rem 0 1.875rem;
}
.ingrid .field + .picker {
  margin-top: -1.25rem;
  width: 90%;
}
.ingrid .field + .media {
  margin-top: -1.25rem;
}

.ingrid .field--narrow {
  max-width: 13.75rem;
}

.ingrid .field--inline {
  display: inline-block;
}

.ingrid .field--error {
  border: 2px solid #ff0000 !important;
}

.ingrid .field--success {
  border: 2px solid #4EAD46 !important;
}

.ingrid .field__icon {
  font-size: 1.25rem;
  margin: 0.6875rem;
  position: absolute;
  right: 0;
  top: 0;
}
.ingrid .field__icon + input {
  padding-right: 2.5rem;
}

.ingrid .field-toggle {
  display: inline-block;
  position: relative;
}
.ingrid .field-toggle:not(:last-child) {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}
.ingrid .field-toggle input {
  display: none;
}
.ingrid .field-toggle .icon {
  fill: #666;
}

.ingrid .field-toggle--check .icon {
  font-size: 0.75rem;
  margin: 1px;
}

.ingrid .field-toggle--radio .icon {
  font-size: 0.5rem;
  margin: 3px;
}

.ingrid .field-toggle__icon {
  background: #fff;
  border: 1px solid #999;
  height: 1rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 1rem;
}

.ingrid .field-toggle__label {
  font-weight: 400;
  position: relative;
}
.ingrid .field-toggle__label .icon {
  opacity: 0;
}

.ingrid .field-toggle__label--boxed {
  background: #EEE;
  min-width: 9.375rem;
  padding: 0.5625rem 0.5625rem 0.5625rem 2rem;
}
.ingrid .field-toggle__label--boxed .field-toggle__icon {
  left: 0.5625rem;
  top: 0.5625rem;
}

.ingrid .field-toggle__label--highlight {
  margin-left: 2px;
  padding-left: 1.5rem;
}
.ingrid .field-toggle__label--highlight .icon {
  fill: #4EAD46;
}

.ingrid input:checked + .field-toggle__label--boxed,
.ingrid input:checked + .field-toggle__label--highlight {
  color: #000;
}
.ingrid input:checked + .field-toggle__label--boxed .icon,
.ingrid input:checked + .field-toggle__label--highlight .icon {
  opacity: 1;
}
.ingrid input:checked + .field-toggle__label--boxed {
  background: #ccc;
  border-color: #28225B;
}
.ingrid input:checked + .field-toggle__label--boxed .field-toggle__icon {
  border-color: #666;
}
.ingrid input:checked + .field-toggle__label--highlight .field-toggle__icon {
  border-color: #4EAD46;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #4EAD46;
}
.ingrid input:checked + .field-toggle__label--highlight .icon {
  opacity: 1;
}

/*
 *  Atom: Table
 *______________________*/
.ingrid table label {
  color: inherit;
}

.ingrid thead {
  color: #000;
  background: #F0F0F0;
  border-bottom: 2px solid #92C049;
  font-size: 0.875rem;
}

.ingrid tbody {
  font-size: 0.875rem;
}
.ingrid tbody tr {
  border-bottom: none;
}

.ingrid .table {
  margin: 2.5rem 0;
  overflow: auto;
}

.ingrid .table__subheading {
  border-bottom: 1px solid #DDD;
}

.ingrid .table__sort-toggle {
  cursor: pointer;
  white-space: nowrap;
}
.ingrid .ingrid .table__sort-toggle:hover, .table__sort-toggle.is-active {
  background: #DDD;
}
.ingrid .table__sort-toggle.is-active .icon {
  opacity: 1;
}
.ingrid .table__sort-toggle.is-asc .icon {
  transform: scaleY(-1);
}
.ingrid .table__sort-toggle .icon {
  fill: #4EAD46;
  font-size: 0.75rem;
  opacity: 0;
  vertical-align: middle;
}

.ingrid .table--lined th:first-child {
  width: 20rem;
  font-weight: bold;
  color: #000;
  border-right: none;
}
.ingrid .table--lined tr {
  border-bottom: 1px solid #DDD;
}

.ingrid .table--lined2 {
  border-top: 1px solid #DDD;
}
.ingrid .table--lined2 th:first-child {
  width: 5.625rem;
  font-weight: bold;
  color: #000;
  border-right: none;
}
.ingrid .table--lined2 tr {
  border-bottom: 1px solid #DDD;
}

.ingrid .table--boxed th,
.ingrid .table--boxed td,
.ingrid .table--striped th,
.ingrid .table--striped td {
  padding-left: 0.75rem;
}

.ingrid .table--boxed th,
.ingrid .table--boxed td {
  background: #F0F0F0;
}
.ingrid .table--boxed th {
  color: #000;
  width: 20rem;
}
.ingrid .table--boxed td {
  border-left: 2px solid #fff;
}
.ingrid .table--boxed tr {
  border-bottom: 2px solid #fff;
}

.ingrid .table--striped th:not(:first-child),
.ingrid .table--striped td:not(:first-child) {
  border-left: 1px solid #DDD;
}
.ingrid .table--striped tr:nth-child(even) {
  background: #F0F0F0;
}
.ingrid .table--striped tbody {
  border-bottom: 1px solid #DDD;
}

.ingrid .picker__weekday {
  text-align: center;
  background: white;
}

/*
 *  Bits: Button
 *______________________*/
.ingrid .btn--primary {
  background: #4EAD46;
  color: #fff !important;
  font-weight: 700;
}

.ingrid .btn--secondary {
  background: transparent;
  color: #4EAD46 !important;
}

.ingrid .btn {
  border: 1px solid #4EAD46;
  display: inline-table;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 100%;
  text-align: center;
  transition: background .1s, color .1s;
  vertical-align: top;
}

.ingrid .ingrid .btn--primary:not([disabled]):hover, .btn--primary:not([disabled]):focus, .btn--primary:not([disabled]):active {
  background: #0E8637;
  border-color: #0E8637;
}
.ingrid .btn--primary[disabled] {
  opacity: .4;
}

.ingrid .ingrid .btn--secondary:not([disabled]):hover, .btn--secondary:not([disabled]):focus, .btn--secondary:not([disabled]):active {
  background: #4EAD46;
  color: #fff !important;
}
.ingrid .btn--secondary[disabled] {
  color: #DDD;
  border: 1px solid #DDD;
  opacity: .9;
}

.ingrid .btn--icon-transition {
  max-width: 50px;
}
.ingrid .btn--icon-transition .icon {
  fill: #fff;
  font-size: 1.25rem;
  line-height: 1;
  vertical-align: text-top;
}

.ingrid .btn--icon {
  padding: 0.75rem 0.5625rem 0.875rem;
  min-width: 50px;
}
.ingrid .btn--icon .icon {
  fill: #fff;
  font-size: 1.25rem;
  line-height: 1;
  vertical-align: text-top;
}

.ingrid .btn--block {
  width: 100%;
}

.ingrid .btn--tiny {
  min-width: 0 !important;
  padding: 0.3125rem 0.4375rem;
}

.ingrid .btn--small {
  font-size: 1.125rem;
  padding: 0.1875rem 1em;
}

.ingrid .btn--medium {
  font-size: 1.25rem;
  padding: 0.5rem 1em;
}

/*
 *  Atom: Tag
 *______________________*/
.ingrid .tag {
  background: #EEE;
}

.ingrid .tag--small {
  padding: 0.375rem 0.875rem;
}

.ingrid .tag--big {
  font-weight: 700;
  padding: 0.625rem 1.5rem;
}

.ingrid .tag-group {
  display: block;
  overflow: hidden;
}
.ingrid .tag-group li {
  display: inline-block;
  float: left;
  margin: 0 0.625rem 0.625rem 0;
}
.ingrid .tag-group a {
  display: block;
}

/*
 *  Atoms: Box
 *______________________*/
.ingrid .box {
  background: #fff;
  margin: 2.5rem 0;
}

.ingrid .box--fill {
  background: #EEE;
}

.ingrid .box--small .box__title,
.ingrid .box--medium .box__title,
.ingrid .box--large .box__title {
  padding: 0.625rem 1.25rem;
}
.ingrid .box--small .box__content,
.ingrid .box--medium .box__content,
.ingrid .box--large .box__content {
  padding: 1.25rem;
}

.ingrid .box__title {
  background: #DDD;
  border-bottom: 2px solid #999;
  margin: 0;
  position: relative;
  z-index: 1;
}

/*
 *  Bits: Icons
 *______________________*/
.ingrid .icon {
  display: inline-block;
  font-size: 1rem;
  height: 1em;
  width: 1em;
}

.ingrid .icon-xs {
  font-size: 0.625rem !important;
}

.ingrid .icon-s {
  font-size: 0.875rem !important;
}

.ingrid .icon-m {
  font-size: 1rem !important;
}

.ingrid .icon-l {
  font-size: 1.25rem !important;
}

.ingrid .icon-light {
  fill: #999 !important;
}

.ingrid .icon-active {
  display: inline-block;
  font-size: 1rem;
  height: 1em;
  width: 1em;
  fill: #4EAD46;
}

/*
 *  Pieces/Layout: Grid
 *______________________*/
/*
    Grid Options
*/
.ingrid .grid {
  clear: both;
}

.ingrid .grid--gutter {
  margin-right: -20px;
  margin-left: -20px;
}
.ingrid .grid--gutter .column {
  padding-right: 20px;
  padding-left: 20px;
}

.ingrid .grid--equal {
  display: flex;
  flex-wrap: wrap;
}
.ingrid .grid--equal .column {
  display: flex;
  flex-wrap: nowrap;
}
.ingrid .grid--equal .column > * {
  width: 100%;
}

/*
    Columns
*/
.ingrid .column {
  float: left;
  width: 100%;
}

.ingrid .column--1-3 {
  width: 33.33334%;
}

.ingrid .column--2-3 {
  width: 66.66666%;
}

/*
 *  Pieces/UI: Logo
 *______________________*/
/*
 *  Pieces/UI: Link
 *______________________*/
.ingrid .link {
  /*    display: inline-block;*/
}
.ingrid .link .icon {
  vertical-align: text-top;
}

.ingrid .link--alt {
  color: #666;
}
.ingrid .link--alt:hover {
  color: #4EAD46;
}

.ingrid .link--big {
  font-family: 'Roboto Condensed';
  font-size: 1.125rem;
  font-weight: 700;
}
.ingrid .link--big .icon {
  font-size: 1em;
  position: relative;
  top: 1px;
}

.ingrid .link__icon {
  fill: currentColor;
}

.ingrid .icon-link {
  padding-left: 1.5em;
  position: relative;
}
.ingrid .icon-link .icon {
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

/*
 *  Pieces/UI: List
 *______________________*/
.ingrid .list {
  color: #666;
  margin: 2.5rem 0;
  list-style: none;
}
.ingrid .list li {
  margin: 20px 0;
  /* padding-left: rem(22px); */
  position: relative;
}
.ingrid .list .list {
  margin: 0.625rem 0 0;
}

.ingrid .list--ordered {
  counter-reset: item;
}
.ingrid .list--ordered li {
  counter-increment: item;
}
.ingrid .list--ordered li:before {
  font-weight: 700;
  top: 0;
}
.ingrid .list--ordered li li {
  padding-left: 2.5rem;
}

.ingrid .list--bullets {
  padding-left: 2rem;
  list-style: outside none disc;
}
.ingrid .list--bullets li:before {
  /*
  background: color(black);
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: .6em;
  height: rem(6px);
  width: rem(6px);
  */
}
.ingrid .list--bullets li li:before {
  background: #999;
}

.ingrid .list--numbered {
  counter-reset: item;
}
.ingrid .list--numbered li {
  counter-increment: item;
}
.ingrid .list--numbered li:before {
  content: counters(item,".") ".";
  color: #000;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
}
.ingrid .list--numbered li li {
  padding-left: 2.5rem;
}
.ingrid .list--numbered li li:before {
  color: #999;
}

.ingrid .link-list li {
  border-bottom: 1px solid #DDD;
}
.ingrid .link-list a {
  display: block;
  padding: 0.5625rem 0.5625rem 0.5625rem 1.5rem;
  position: relative;
}
.ingrid .link-list a:hover {
  background: #F0F0F0;
}
.ingrid .link-list .icon {
  fill: currentColor;
  left: 1px;
  position: absolute;
  top: .75em;
}

.ingrid .download-list {
  border-top: 1px solid #DDD;
}

.ingrid .category-list li {
  display: inline-block;
}
.ingrid .category-list li:not(:first-child):not(:last-child):after {
  content: ',';
}
.ingrid .category-list a {
  border-bottom: 1px dotted currentColor;
  color: #666;
}
.ingrid .category-list a:hover {
  color: #4EAD46;
}

.ingrid .list--checked {
  font-weight: bold;
}
.ingrid .list--checked .icon {
  position: absolute;
  top: 0.1875rem;
  left: 0;
  fill: #4EAD46;
}

.ingrid .footnote {
  color: #999;
  margin: 1.875rem 0;
}
.ingrid .footnote li:before {
  color: #999;
  font-size: 0.8125rem;
  top: .15em;
}

/*
 *  Pieces/UI: Footnote
 *______________________*/
/*
 *  Molecule/ Nav Mobile
 *______________________*/
.ingrid .nav--fill {
  background: #fff;
}

.ingrid .nav__mobile__item-icon {
  position: absolute;
  top: 1.5rem;
  left: 0.625rem;
}

.ingrid .nav__container {
  background: #666;
  border-bottom: 1px solid #0E8637;
  background: #fff;
}
.ingrid .nav__container a {
  color: #666;
}
.ingrid .nav__container .icon {
  fill: currentColor;
}

.ingrid .nav__container__content {
  position: relative;
  font: 700 1rem "Roboto Condensed", sans-serif;
  color: #666;
  border-bottom: 1px solid #DDD;
  padding: 1rem 2.25rem;
}
.ingrid .nav__container__content:active {
  color: #4EAD46;
}
.ingrid .nav__container__content .icon {
  position: absolute;
  top: 1.25rem;
  left: 0.875rem;
}
.ingrid .nav__container__content.is-active .nav__container-icon:first-child {
  display: none;
}

.ingrid .nav__containter__content-item {
  padding: 0 2.25rem;
  border-bottom: 1px solid #DDD;
}
.ingrid .nav__containter__content-item li {
  position: relative;
  box-shadow: 0 1px 0 0px #DDD;
  padding: 0.625rem 1rem;
}
.ingrid .nav__containter__content-item li:last-child {
  box-shadow: none;
}
.ingrid .nav__containter__content-item a {
  font: 400 0.875rem "Arial", sans-serif;
}
.ingrid .nav__containter__content-item a:hover {
  color: #000;
}
.ingrid .nav__containter__content-item a:active {
  color: #4EAD46;
}
.ingrid .nav__containter__content-item .icon {
  font-size: 12px;
  vertical-align: middle;
}

.ingrid .nav__container__content-icon {
  position: absolute;
  top: 0.875rem;
  left: 0;
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ingrid .nav__foot {
  font-size: 1rem;
}
.ingrid .nav__foot li {
  margin: 1.875rem 1.875rem -1.25rem;
}
.ingrid .nav__foot a {
  color: #fff;
  padding: .5em;
}
.ingrid .nav__foot a:hover {
  background: #0E8637;
}

/*
 *  Molecule/UI: Nav-Desktop
 *______________________*/
.ingrid .nav-desktop {
  background: #4EAD46;
  font: 700 1rem "Roboto Condensed", sans-serif;
  position: relative;
  z-index: 1;
}

.ingrid .nav-desktop__list {
  margin: 0 auto;
  display: block;
  display: flex;
  position: relative;
  width: 100%;
}
.ingrid .nav-desktop__list a {
  display: block;
}

.ingrid .nav-desktop__item {
  flex-grow: 1;
  display: inline-block;
}
.ingrid .ingrid .nav-desktop__item:nth-last-child(2) .nav-desktop__dropdown, .nav-desktop__item:nth-last-child(2) + .nav-desktop__item .nav-desktop__dropdown {
  left: auto;
  right: 0;
}

.ingrid .nav-desktop__title {
  color: #fff;
  padding: 1.125rem 0.75rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.ingrid .ingrid .nav-desktop__title:hover, .nav-desktop__title.is-selected, .nav-desktop__title.is-active {
  color: #fff;
  background: #0E8637;
}
.ingrid .nav-desktop__title.is-active + .nav-desktop__dropdown {
  display: block;
}
.ingrid .nav-desktop__title .icon {
  bottom: .75em;
  font-size: 0.75rem;
  position: absolute;
  left: 50%;
  margin-left: -.5em;
  fill: #fff;
}

.ingrid .nav-desktop__dropdown {
  background: #fff;
  box-shadow: 0 6px 10px 0 rgba(102, 102, 102, 0.2);
  display: none;
  min-width: 17.875rem;
  border-top: 4px solid #0E8637;
  top: 100%;
  position: absolute;
}
.ingrid .nav-desktop__dropdown li {
  position: relative;
  padding: 0 1rem;
  border-top: 1px solid #DDD;
}
.ingrid .ingrid .nav-desktop__dropdown a:hover, .nav-desktop__dropdown a:active {
  color: #4EAD46 !important;
}
.ingrid .nav-desktop__dropdown .icon {
  fill: currentColor;
  position: absolute;
  top: 1em;
}

.ingrid .nav__dropdown-item {
  font: 400 0.875rem "Arial";
  padding-left: 3rem !important;
}
.ingrid .nav__dropdown-item a:hover {
  color: #000 !important;
}
.ingrid .nav__dropdown-item a:active {
  color: #4EAD46 !important;
}
.ingrid .nav__dropdown-item .icon {
  left: 3.125rem;
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ingrid .nav__desktop-icon {
  left: 1.125rem;
}

/*
 *  Pieces/UI: Nav-Dropmenu
 *______________________*/
.ingrid .dropmenu {
  background: #fff;
}
.ingrid .dropmenu a {
  font-family: "Roboto Condensed", sans-serif;
  color: #666;
  padding: 0.75rem 1rem 0.75rem 1.3125rem;
}
.ingrid .dropmenu .is-active {
  color: #4EAD46;
}

.ingrid .dropmenu__box {
  position: relative;
}

/*
 *  Pieces/UI: Nav-Metamenu
 *______________________*/
.ingrid .metamenu {
  background: #fff;
  border: 1px solid rgba(102, 102, 102, 0.2);
  box-shadow: 0 6px 10px 0 rgba(102, 102, 102, 0.2);
  color: #666;
  display: none;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  margin-top: 0.75rem;
  position: absolute;
  right: -10px;
  top: 100%;
  z-index: 2;
}
.ingrid .is-active + .metamenu {
  display: block;
}
.ingrid .metamenu a {
  display: block;
}

.ingrid .metamenu--wide {
  min-width: 17.5rem;
}
.ingrid .metamenu--wide .metamenu__box {
  padding: 1rem;
}

.ingrid .metamenu__box + .metamenu__box {
  border-top: 1px solid #DDD;
}

.ingrid .metamenu__link {
  color: #666;
  padding: 0.5rem 2.5rem 0.5rem 1.375rem;
  position: relative;
  white-space: nowrap;
}
.ingrid .no-touchevents .metamenu__link:hover {
  background: #F0F0F0;
  color: #000;
}
.ingrid .metamenu__link.is-active {
  color: #4EAD46;
  font-weight: 700;
}
.ingrid .metamenu__link .icon {
  fill: currentColor;
  font-size: 0.75rem;
  left: 0.375rem;
  position: absolute;
  top: 0.75rem;
}

/*
 *  Pieces/UI: Nav-Overlay
 *______________________*/
.ingrid .nav-overlay {
  background: #4EAD46;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 3.75rem;
  min-height: calc(100% - 60px);
  padding-bottom: 3.75rem;
  position: absolute;
  transform: translateX(-100%);
  transition: transform .25s;
  width: 100%;
  z-index: 2;
}
.ingrid .nav-overlay.is-active {
  transform: translateX(0);
  transition: transform .5s;
}
.ingrid .nav-overlay a {
  display: block;
}

.ingrid .nav-overlay__icon {
  left: 0.625rem;
  position: absolute;
}

.ingrid .nav-overlay__item {
  cursor: pointer;
  font-weight: 700;
  position: relative;
}
.ingrid .nav-overlay__item.is-active .nav-overlay__icon {
  display: none;
}
.ingrid .nav-overlay__item.is-active .nav-overlay__icon + .nav-overlay__icon {
  display: block;
}
.ingrid .nav-overlay__item .nav-overlay__icon + .nav__overlay__icon {
  display: none;
}
.ingrid .nav-overlay__item .icon {
  color: inherit;
  fill: currentColor;
}

.ingrid .nav-overlay__item--level1 {
  border-bottom: 1px solid #0E8637;
  color: #fff;
  font-size: 1.125rem;
  padding: 1.25rem 2.25rem;
  text-transform: uppercase;
}
.ingrid .ingrid .no-touchevents .nav-overlay__item--level1:hover, .nav-overlay__item--level1.is-active {
  background: #0E8637;
  color: #fff;
}
.ingrid .nav-overlay__item--level1 .icon {
  top: 1.5rem;
}

.ingrid .nav-overlay__item--level2,
.ingrid .nav-overlay__item--level3 {
  color: #666;
  padding: 0.9375rem 2.25rem;
}
.ingrid .no-touchevents .nav-overlay__item--level2:hover, .nav-overlay__item--level2.is-active, .no-touchevents
.ingrid .nav-overlay__item--level3:hover,
.ingrid .nav-overlay__item--level3.is-active {
  color: #4EAD46;
}
.ingrid .nav-overlay__item--level2 .icon,
.ingrid .nav-overlay__item--level3 .icon {
  left: 0.875rem;
  top: 1.25rem;
}

.ingrid .nav-overlay__item--level2 {
  border-bottom: 1px solid #DDD;
}

.ingrid .nav-overlay__item--level3 {
  padding: 0.5rem 1rem;
  position: relative;
}
.ingrid .nav-overlay__item--level3 + .nav-overlay__item--level3 {
  border-top: 1px solid #DDD;
}
.ingrid .nav-overlay__item--level3 .icon {
  fill: currentColor;
  font-size: 0.75rem;
  left: 0;
  top: 0.8125rem;
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.ingrid .nav-overlay__level2 {
  background: #F0F0F0;
  font-size: 1rem;
  padding: 0.625rem;
}

.ingrid .nav-overlay__level2__content {
  background: #fff;
  box-shadow: 0 0 5px 0 #DDD;
}

.ingrid .nav-overlay__level3 {
  background: #f8f8f8;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  padding-left: 2.25rem;
  border-bottom: 1px solid #DDD;
}

/*
 *  Pieces/UI: Nav Footer
 *______________________*/
/*
 *  Molecule: Forms
 *______________________*/
.ingrid .search-form * {
  margin: 0;
}
.ingrid .search-form input {
  border-color: #4EAD46;
}

/*
 *  Molecule: Breadcrumb
 *______________________*/
.ingrid .breadcrumb {
  border-bottom: 1px solid #DDD;
  font-size: 0.8125rem;
}
.ingrid .breadcrumb .icon {
  fill: #666;
}

.ingrid .breadcrumb__title {
  float: left;
  padding-right: 0.375rem;
}

.ingrid .breadcrumb__list {
  margin: 0.625rem auto;
  padding-left: 0;
}
.ingrid .breadcrumb__list a:last-child {
  font-weight: 700;
}

/*
 *  Pieces/UI: Pagination
 *______________________*/
.ingrid .pagination {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  display: table;
  width: 100%;
  margin: 0.625rem auto;
}
.ingrid .pagination .icon {
  fill: #DDD;
  font-size: 16px;
  vertical-align: middle;
}

.ingrid .pagination__list {
  display: table-cell;
  font-weight: 700;
  margin: 0 auto;
  padding: 0 2.5rem;
  text-align: center;
  vertical-align: middle;
}
.ingrid .pagination__list li {
  display: inline-block;
  padding: 0.5rem 0.25rem;
}
.ingrid .pagination__list li:nth-child(2) {
  margin-right: 1.125rem;
}
.ingrid .pagination__list li:nth-last-child(2) {
  margin-left: 1.125rem;
}
.ingrid .pagination__list a {
  color: #999;
  display: block;
  margin: -0.75rem -0.875rem;
  padding: 0.75rem 0.875rem;
}
.ingrid .pagination__list a[href] .icon {
  fill: #4EAD46;
}
.ingrid .pagination__list a[href]:hover .icon {
  fill: #0E8637;
}

.ingrid .pagination__left .icon {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*
 *  Pieces/UI: Tabs
 *______________________*/
.ingrid .tabs {
  margin: 2.5rem 0;
  position: relative;
  z-index: 1;
}

.ingrid .tab__toggles {
  color: #4EAD46;
  font-size: 1rem;
  font-family: 'Roboto Condensed';
  max-width: 100%;
  box-shadow: 0px 1px 0px #DDD;
}
.ingrid .tab__toggles a {
  color: #999;
  display: block;
  padding: 0.375rem 1.125rem;
}
.ingrid .ingrid .tab__toggles a:hover, .tab__toggles a.is-active {
  color: #4EAD46;
}

.ingrid .tab__select {
  background: #4EAD46;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  padding: 0.375rem 1.125rem;
  position: relative;
}
.ingrid .ingrid .tab__select:hover, .tab__select.is-active {
  background: #0E8637;
}

.ingrid .tab__select__icon {
  fill: #fff;
  float: right;
  font-size: 1em;
  position: relative;
  top: .3em;
}
.ingrid .tab__select__icon + .tab__select__icon {
  display: none;
}
.ingrid .is-active > .tab__select__icon {
  display: none;
}
.ingrid .is-active > .tab__select__icon + .tab__select__icon {
  display: block;
}

.ingrid .tab__toggle {
  display: inline-block;
  margin-right: -4px;
}
.ingrid .tab__toggle.is-active a {
  color: #4EAD46;
}

/*
 *  Pieces/UI: Message Box
 *______________________*/
.ingrid .message {
  border: 1px solid currentColor;
  margin: 2.5rem 0;
  min-height: 2.5rem;
  overflow: hidden;
  position: relative;
  transition: transform .25s;
}
.ingrid .message.is-deleted {
  transform: scale(0);
}
.ingrid .message p {
  margin: 0.625rem 0;
}

.ingrid .message--success {
  color: #4EAD46;
}

.ingrid .message--error {
  color: #D83500;
}

.ingrid .message--info {
  color: #265CFF;
}

.ingrid .message-fill--error {
  background: #F5D3CE;
}
.ingrid .message-fill--error .icon {
  fill: #ff0000;
}

.ingrid .message-fill--success {
  background: #DFF0D8;
}
.ingrid .message-fill--success .icon {
  fill: #4EAD46;
}

.ingrid .message-fill--info {
  background: #D9EDF7;
}
.ingrid .message-fill--info .icon {
  fill: #265CFF;
}

.ingrid .message__title {
  border-bottom: 1px solid currentColor;
  padding: 0.5625rem 1rem;
}

.ingrid .message__content {
  padding: 0.5625rem 2.5rem 0.5625rem 1rem;
  position: relative;
}

.ingrid .message__simple-content {
  padding: 0.5rem 0.5rem 0.5rem 2.625rem;
  position: relative;
}

.ingrid .message__close {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0.8125rem;
}
.ingrid .message__close:hover {
  fill: #000;
}

.ingrid .message__circle {
  position: absolute;
  top: 0.4375rem;
  left: 0.625rem;
  background: #fff;
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 3px;
}

.ingrid .message__content {
  padding: 0.5rem 1rem;
}

/*
 *  Molecule/UI: Search
 *______________________*/
.ingrid .search-result--nested {
  margin-left: 40px;
}
.ingrid .search-result--nested .search-hr {
  width: 30px;
  height: 1px;
  background: #DDD;
  position: relative;
  top: 12px;
  right: 40px;
}

.ingrid .globe__icon {
  fill: #666;
}

.ingrid .research__icon {
  vertical-align: middle;
}

/*
 *  Molecule/UI: Tooltip
 *______________________*/
.ingrid .tooltip {
  background: #fff;
  border: 1px solid #DDD;
  cursor: pointer;
  display: inline-block;
  height: 1.5rem;
  position: relative;
  vertical-align: middle;
  width: 1.5rem;
}
.ingrid .tooltip:after {
  content: '';
  position: absolute;
  height: 150%;
  left: -25%;
  top: -25%;
  width: 150%;
}
.ingrid .no-touchevents .tooltip:hover {
  border-color: #4EAD46;
}
.ingrid .no-touchevents .tooltip:hover .tooltip__icon {
  fill: #4EAD46;
}

.ingrid .tooltip__icon {
  fill: #999;
  font-size: 0.75rem;
  left: 50%;
  margin: -.5em;
  position: absolute;
  top: 50%;
}

/*
 *  Pieces/UI: Popup
 *______________________*/
.ingrid .popup {
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  transition: transform .2s;
  width: 30rem;
  z-index: 5;
}
.ingrid .popup.is-open {
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.ingrid .popup__header {
  background: #F0F0F0;
  border-bottom: 2px solid #4EAD46;
  padding: 0.625rem 1rem;
}

.ingrid .popup__title {
  overflow: hidden;
}

.ingrid .popup__close {
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0.125rem 0 0 1.25rem;
  position: relative;
}
.ingrid .popup__close:after {
  content: '';
  position: absolute;
  height: 150%;
  left: -25%;
  top: -25%;
  width: 150%;
}
.ingrid .popup__close:hover {
  color: #000;
}
.ingrid .popup__close .icon {
  fill: currentColor;
  font-size: 1.125rem;
  position: relative;
  top: 1px;
}

.ingrid .popup__content {
  background: #fff;
  padding: 1rem;
}

/*
 *  Pieces/UI: Teaser
 *______________________*/
.ingrid .teaser {
  padding-bottom: 1.875rem;
  padding-top: 1.875rem;
}

.ingrid .news-teaser {
  border-bottom: 1px solid #DDD;
}

.ingrid .teaser__box {
  background: #fff;
  border-top: 4px solid #4EAD46;
  position: relative;
}
.ingrid .teaser__box .tooltip {
  float: right;
  vertical-align: middle;
}

.ingrid .teaser__content {
  padding: 1rem;
}
.ingrid .teaser__content:last-child {
  padding-bottom: 0;
}

.ingrid .teaser__overlay {
  padding: 0 0.75rem;
}

.ingrid .teaser__graphic {
  text-align: center;
  min-height: 160px;
  background: #EEE;
}
.ingrid .teaser__graphic .icon {
  margin-top: 1.875rem;
  font-size: 4rem;
}

/*
 *  Molecule/UI: Search Box Form
 *______________________*/
.ingrid .search__box-form {
  cursor: pointer;
}
.ingrid .search__box-form .tree {
  white-space: normal;
}
.ingrid .search__box-form .tree:not(:first-child) {
  border-top: none;
}

.ingrid .search__box-header {
  font-weight: 700;
  font-size: 18px;
  color: #666;
  padding: 36px 0 16px;
  margin: 0;
}
.ingrid .search__box-header .icon {
  fill: #666;
  position: relative;
  top: 0.1875rem;
  left: 0.375rem;
}

/*
 *  Molecule: Filter
 *______________________*/
.ingrid .filter__title {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.ingrid .no-touchevents .filter__title:hover {
  color: #4EAD46;
}

.ingrid .filter__title__icon {
  fill: #666;
  font-size: 0.75rem;
  transform: scaleY(1);
}
.ingrid .sidebar .filter__title__icon {
  position: absolute;
  right: 0.625rem;
  top: 1.125rem;
}
.ingrid .is-active > .filter__title__icon {
  transform: scaleY(-1);
}

.ingrid .filter__checks {
  border-bottom: 1px solid #DDD;
}
.ingrid .filter__checks .field-toggle {
  margin-top: 16px;
}
.ingrid .filter__checks .field-toggle__label {
  border: none;
}

/*
 *  Molecule/UI: Sidebar Filter
 *______________________*/
.ingrid .sidebar__filter .field-toggle--check {
  display: block;
}
.ingrid .sidebar__filter .field-toggle__label--highlight {
  margin-bottom: 1rem;
}
.ingrid .sidebar__filter .icon-xs {
  vertical-align: inherit;
}

.ingrid .sidebar-filter-header {
  border-bottom: 1px solid #DDD;
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem 0;
  position: relative;
}
.ingrid .sidebar-filter-header .icon {
  bottom: 0.75rem;
  fill: #666;
  position: absolute;
  right: 0;
}

.ingrid .is-active > .sidebar-header-icon {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ingrid .sidebar-filter-subheader {
  border-bottom: 1px solid #DDD;
  color: #000;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.75rem 0;
}
.ingrid .no-touchevents .sidebar-filter-subheader:hover {
  color: #4EAD46;
}
.ingrid .sidebar-filter-subheader.is-active {
  font-weight: 700;
}
.ingrid .sidebar-filter-subheader .icon {
  fill: #666;
  font-size: 12px;
  left: 0;
  position: relative;
  top: 0;
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ingrid .is-active > .sidebar-subheader-icon {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ingrid .sidebar-filter-content {
  padding-left: 1rem;
}
.ingrid .sidebar-filter-content li {
  margin-top: 0.75rem;
}
.ingrid .sidebar-filter-content ul a {
  color: #000;
}
.ingrid .no-touchevents .sidebar-filter-content ul a:hover {
  color: #4EAD46;
}

.ingrid .sidebar-filter-content-icon {
  fill: #666;
  font-size: 0.75rem;
  position: relative;
  top: 0;
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  left: 0;
}

/*
 *  Molecule: Tree
 *______________________*/
.ingrid .tree {
  border-top: 1px solid #DDD;
  overflow: auto;
}
.ingrid .tree .icon {
  fill: #666;
}

.ingrid .tree--fill {
  background: #f8f8f8;
}

.ingrid .tree__icon {
  margin-right: 0.25rem;
  position: relative;
  top: 0.125rem;
}

.ingrid .tree__item {
  border-bottom: 1px solid #DDD;
  color: #000;
  font: 700 1rem "Roboto Condensed", sans-serif;
  padding: 0.625rem 1rem 0.625rem 2rem;
  position: relative;
  white-space: nowrap;
}
.ingrid .tree__item a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  max-width: 95%;
}

.ingrid .tree__item--large {
  font-size: 1.25rem;
}
.ingrid .tree__item--large .tree__toggle__icon {
  top: 0.875rem;
}

.ingrid .tree__toggle {
  cursor: pointer;
}
.ingrid .no-touchevents .tree__toggle:hover {
  border-color: #4EAD46;
  box-shadow: 0 1px 0 #4EAD46;
}
.ingrid .tree__toggle.is-active .tree__toggle__icon:first-child {
  display: none;
}

.ingrid .tree__toggle__icon {
  left: 0;
  position: absolute;
  top: 0.6875rem;
}

.ingrid .tree__content {
  padding-left: 1.875rem;
}

/*
 *  Organism: Block
 *______________________*/
.ingrid .block {
  position: relative;
}

.ingrid .block--padded {
  padding: 2.5rem 0;
}

.ingrid .block--pad-top {
  padding-top: 1.25rem;
}

.ingrid .block--pad-bottom {
  padding-bottom: 1.25rem;
}

.ingrid .block--blank + .block--blank {
  padding-top: 0;
}

.ingrid .block--light {
  background: #EEE;
}
.ingrid .block--light + .block {
  border-top: 2px solid #DDD;
}

/*
 *  Pieces/Layout: Sidebar
 *______________________*/
.ingrid .sidebar {
  margin-bottom: 2.5rem;
}

.ingrid .sidebar__title {
  background: #DDD;
  color: #000;
  cursor: pointer;
  font: 700 1.125rem "Roboto Condensed", sans-serif;
  margin: 1.25rem 0 0;
  padding: 0.625rem 0.875rem;
}
.ingrid .ingrid .no-touchevents .sidebar__title:hover, .sidebar__title.is-active {
  background: #ccc;
}
.ingrid .sidebar__title.is-active .icon {
  display: none;
}
.ingrid .sidebar__title.is-active .icon + .icon {
  display: block;
}
.ingrid .sidebar__title .icon {
  fill: #666;
  float: right;
  font-size: 1.25rem;
}
.ingrid .sidebar__title .icon + .icon {
  display: none;
}

.ingrid .sidebar__content {
  background: #f8f8f8;
  padding: 0.625rem;
}

.ingrid .sidebar-toggle {
  box-shadow: 0 0 0 1px #DDD;
  cursor: pointer;
  font-size: 1.5rem;
  left: 0;
  height: 1em;
  position: absolute;
  top: 1.25rem;
  -ms-transform: rotate(90deg) scale(-1);
  transform: rotate(90deg) scale(-1);
  width: 1em;
}
.ingrid .sidebar-toggle.is-active {
  margin-left: -1px;
  -ms-transform: rotate(270deg) translateY(-100%) scale(-1);
  transform: rotate(270deg) translateY(-100%) scale(-1);
}
.ingrid .sidebar-toggle .icon {
  display: block;
  fill: #666;
  margin: .25em;
  position: relative;
  top: 1px;
}

.ingrid .sidebar__widget__title {
  border-bottom: 1px solid #DDD;
  color: #000;
  display: block;
  font: 700 1.125rem "Roboto Condensed", sans-serif;
  padding: 0.75rem 1.2em 0.75rem 0;
}

.ingrid .sidebar__widget__content {
  margin-bottom: 1.875rem;
}

.ingrid .sidebar__nav {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  padding-left: 0.75rem;
}
.ingrid .sidebar__nav a {
  display: block;
  margin-top: .65em;
}
.ingrid .sidebar__nav .is-active {
  color: #000;
}

/*
 *  Pieces/Layout: Header
 *______________________*/
.ingrid .header {
  color: #fff;
  margin: auto;
  position: relative;
  z-index: 2;
}

.ingrid .header__widgets__section {
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  padding: 1.125rem 0;
  vertical-align: bottom;
}

.ingrid .header__widget {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: bottom;
}
.ingrid .header__widget > a {
  color: #fff;
}
.ingrid .no-touchevents .header__widget > a:hover {
  color: #28225B;
}

.ingrid .header__widget__toggle {
  position: relative;
}
.ingrid .ingrid .header__widget__toggle.is-active:before, .header__widget__toggle.is-active:after {
  border-style: solid;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -0.75rem;
  position: absolute;
  top: 100%;
  width: 0;
  z-index: 3;
}
.ingrid .header__widget__toggle.is-active:before {
  border-color: transparent transparent #ccc transparent;
  border-width: 0 12px 12px 12px;
}
.ingrid .header__widget__toggle.is-active:after {
  border-color: transparent transparent #fff transparent;
  border-width: 0 11px 11px 11px;
  margin: 1px 0 0 -11px;
}

.ingrid .header__widget__icon {
  fill: currentColor;
  font-size: 1.5rem;
  position: relative;
}
.ingrid .header__widget__icon.is-active {
  fill: #28225B;
}

.ingrid .header__widget__text {
  color: inherit;
}

.ingrid .nav-toggle {
  background: currentColor;
  color: #0E8637 !important;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 100%;
  transition: width .25s;
  z-index: 1;
}
.ingrid .nav-toggle:after {
  border-style: solid;
  border-width: 0 0 60px 12px;
  border-color: transparent transparent #4EAD46 transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}
.ingrid .nav-toggle.is-active {
  width: 100%;
}
.ingrid .nav-toggle.is-active:after {
  display: none;
}
.ingrid .nav-toggle .icon {
  fill: #fff;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateX(-4px);
  transition: opacity .25s;
  left: 50%;
  margin: -.5em 0 0 -.5em;
}

.ingrid .header__logo {
  margin-left: 4.125rem;
}

.ingrid .mobile__logo {
  height: 1.5rem;
}

.ingrid .sub-header {
  float: right;
  line-height: 1;
  margin-right: 0.625rem;
}
.ingrid .sub-header .header__widget:not(:first-child) {
  margin-left: 0.75rem;
}
.ingrid .sub-header .icon-xs {
  margin-bottom: 0.1875rem;
}

/*
 *  Pieces/Layout: Footer
 *______________________*/
.ingrid .footer {
  background: #EEE url("../images/template/footer-triangles.svg") no-repeat right 0;
  background-size: 50% 100%;
  overflow: hidden;
  color: #28225B;
  family: "Roboto Condensed", sans-serif;
}

.ingrid .footer__top-link {
  background: #28225B;
  color: #fff;
  cursor: pointer;
  family: "Roboto Condensed", sans-serif;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

.ingrid .footer__top {
  padding: 1.375rem 1.25rem 1.125rem 1.25rem;
}

.ingrid .footer__logo {
  width: 5.125rem;
  fill: #28225B;
  margin-top: 4px;
}

.ingrid .footer__middle {
  padding: 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
}
.ingrid .footer__middle a {
  color: inherit;
  display: inline-block;
  font-size: 1rem;
  font-family: inherit;
  margin: 0 1.5rem;
}
.ingrid .footer__middle a:hover {
  box-shadow: inset 0 -2px 0 0 currentColor;
}
.ingrid .footer__middle a:first-child {
  margin-left: 0;
}
.ingrid .footer__middle a:last-child {
  margin-right: 0;
}

.ingrid .footer__bottom {
  padding: 0.625rem 1.25rem;
}

.ingrid .social_media_icon {
  line-height: 1em;
  text-align: left;
}
.ingrid .social_media_icon a {
  border-radius: 50%;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0.25rem;
  padding: 0.375rem;
}
.ingrid .social_media_icon a:first-child {
  margin-left: 0;
}
.ingrid .social_media_icon a:last-child {
  margin-right: 0;
}
.ingrid .social_media_icon a:hover {
  background: #fff;
}
.ingrid .social_media_icon .icon {
  fill: #28225B;
  font-size: 1.5rem;
}

.ingrid .copyright {
  margin-bottom: 0;
  margin-top: 10px;
}

/*
 *  Pieces/Layout: Page
 *______________________*/
.ingrid .page {
  width: 100%;
}
.ingrid .page.is-fixed {
  left: 0;
  top: 0;
}

/*
 *  Utility: Objects
 *______________________*/
.ingrid .ob-border-brand {
  border: 1px solid #4EAD46 !important;
}

.ingrid .ob-flex {
  display: flex;
}

.ingrid .ob-flt-r {
  float: right;
}

.ingrid .ob-box-right {
  display: table;
  margin: 0 0 0 auto;
}

.ingrid .ob-box-narrow {
  max-width: 48.75rem;
}

.ingrid .ob-box-wide {
  max-width: 70rem;
}

.ingrid .ob-box-center {
  margin-right: auto;
  margin-left: auto;
}

.ingrid .ob-circle {
  border-radius: 50%;
}

.ingrid .ingrid .ob-clear:after, .grid:after {
  clear: both;
  content: " ";
  display: table;
}

.ingrid .ob-container > :first-child {
  margin-top: 0;
}
.ingrid .ob-container > :last-child {
  margin-bottom: 0;
}

.ingrid .ob-box-padded {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.ingrid .ob-box-padded-more {
  padding: 0 0.625rem;
}

.ingrid .ob-flip-x {
  transform: scaleX(-1);
}

.ingrid .ob-rel {
  position: relative;
}

.ingrid .ob-fade {
  opacity: 0;
}

/*
 *  Utility: Box Model
 *______________________*/
.ingrid .bx-top-0 {
  margin-top: 0 !important;
}

.ingrid .bx-bot-0 {
  margin-bottom: 0 !important;
}

.ingrid .bx-top-xs {
  margin-top: 0.625rem !important;
}

.ingrid .bx-bot-xs {
  margin-bottom: 0.625rem !important;
}

.ingrid .bx-top-s {
  margin-top: 1.25rem !important;
}

.ingrid .bx-top-s-n {
  margin-top: -1.25rem !important;
}

.ingrid .bx-bot-s {
  margin-bottom: 1.25rem !important;
}

.ingrid .bx-top-m {
  margin-top: 1.875rem !important;
}

.ingrid .bx-bot-m {
  margin-bottom: 1.875rem !important;
}

.ingrid .bx-top-l {
  margin-top: 2.5rem !important;
}

.ingrid .bx-bot-l {
  margin-bottom: 2.5rem !important;
}

.ingrid .bx-top-xl {
  margin-top: 3.125rem !important;
}

.ingrid .bx-bot-xl {
  margin-bottom: 3.125rem !important;
}

.ingrid .bx-padl-0 {
  padding-left: 0 !important;
}

.ingrid .bx-padr-0 {
  padding-right: 0 !important;
}

/*
 *  Utility: States
 *______________________*/
.ingrid .is-hidden {
  display: none;
}

.ingrid .is-fixed {
  position: fixed;
}

/*
 *  Utility: Text
 *______________________*/
.ingrid .tx-brand {
  family: "Roboto Condensed", sans-serif;
}

.ingrid .tx-center {
  text-align: center !important;
}

.ingrid .tx-right {
  text-align: right !important;
}

.ingrid .tx-upper {
  text-transform: uppercase !important;
}

.ingrid .tx-highlight {
  color: #4EAD46 !important;
}

.ingrid .tx-light {
  color: #999 !important;
}

.ingrid .tx-dark {
  color: #666 !important;
}

.ingrid .tx-darker {
  color: #28225B !important;
}

.ingrid .tx-darkest {
  color: #000 !important;
}

/*
 *  Utility: Query
 *______________________*/
/*
 *  Base: Override
 *________________________*/
.ingrid .ingrid .picker__select--month, .picker__select--year {
  height: 2.25em;
}

/* Must come last. */
/*
 *  Core: Media Queries
 *______________________

    Do not touch.

    Spit out all of the stored
    media query data.

*/
@media screen and (min-width: 320px) {
  .ingrid .column--1-2-xxs {
    width: 50%;
  }
}
@media screen and (max-width: 479px) {
  .ingrid .field-toggle--check-mobile {
    width: 100%;
  }

  .ingrid .btn--icon-transition {
    padding: 0.5rem;
  }

  .ingrid .tag--big {
    padding: 0.5rem 0.75rem;
  }

  .ingrid .pagination__left {
    margin: 0;
  }

  .ingrid .mq-hide-s {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .ingrid .field--large {
    font-size: 1rem !important;
    padding: 0.9375rem !important;
  }

  .ingrid .tag-group li {
    margin: 0 1rem 1rem 0;
  }

  .ingrid .ingrid .box--medium .box__title, .box--large .box__title {
    padding: 0.9375rem 1.875rem;
  }

  .ingrid .ingrid .box--medium .box__content, .box--large .box__content {
    padding: 1.875rem;
  }

  .ingrid .column--1-2-xs {
    width: 50%;
  }

  .ingrid .pagination__list li:nth-child(2) {
    margin-right: 2rem;
  }

  .ingrid .pagination__list li:nth-last-child(2) {
    margin-left: 2rem;
  }

  .ingrid .popup {
    left: 50%;
    margin-left: -15rem;
  }

  .ingrid .popup__header {
    padding: 0.75rem 1.125rem;
  }

  .ingrid .popup__close .icon {
    font-size: 0.75rem;
  }

  .ingrid .popup__content {
    padding: 0.75rem 1.125rem 1.125rem;
  }

  .ingrid .teaser__box:not(:first-child) {
    margin: 0 0.75rem;
  }

  .ingrid .teaser__graphic {
    margin-bottom: -2.5rem;
  }

  .ingrid .sub-header .header__widget:not(:first-child) {
    margin-left: 1.25rem;
  }

  .ingrid .mq-show-s {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .ingrid .btn--icon-transition {
    padding: 0.875rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .ingrid .header__logo {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 639px) {
  .ingrid .media__obj {
    margin-bottom: 2.5rem;
  }

  .ingrid .mq-hide-m {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .ingrid .media__obj {
    max-width: 30%;
  }

  .ingrid .media__obj--large {
    max-width: 40%;
    width: 100%;
  }

  .ingrid .media__obj--left {
    float: left;
    margin-right: 2.5rem;
  }

  .ingrid .media__obj--right {
    float: right;
    margin-left: 2.5rem;
  }

  .ingrid .image--inline {
    float: left;
    margin: 0.3em 1em 0 0;
    max-width: 50%;
    padding-right: 1em;
  }

  .ingrid .media__obj label {
    text-align: right;
  }

  .ingrid .field + .picker {
    width: 50%;
  }

  .ingrid .btn {
    min-width: 10rem;
  }

  .ingrid .btn--icon-transition {
    padding: 0.5rem;
  }

  .ingrid .column--1-2-s {
    width: 50%;
  }

  .ingrid .column--1-3-s {
    width: 33.33334%;
  }

  .ingrid .column--1-4-s {
    width: 25%;
  }

  .ingrid .column--5-12-s {
    width: 41.66666%;
  }

  .ingrid .column--7-12-s {
    width: 58.33334%;
  }

  .ingrid .pagination .icon {
    font-size: 20px;
  }

  .ingrid .pagination__list {
    padding: 0;
  }

  .ingrid .pagination__list li {
    padding: 0.75rem 0.875rem;
  }

  .ingrid .ingrid .pagination__number:hover, .pagination__number.is-active {
    color: #4EAD46;
    box-shadow: inset 0 -4px 0 0 #4EAD46;
  }

  .ingrid .tab__toggles a {
    border-width: 1px 1px 0;
    padding: 0.625rem 1.5rem;
  }

  .ingrid .tab__select {
    padding: 0.625rem 1.5rem;
  }

  .ingrid .message__content {
    padding: 0.5rem 1rem;
  }

  .ingrid .tx-right-s {
    text-align: right !important;
  }

  .ingrid .mq-show-m {
    display: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 839px) {
  .ingrid .block--padded {
    padding: 3.75rem 0;
  }

  .ingrid .block--pad-top {
    padding-top: 2.5rem;
  }

  .ingrid .block--pad-bottom {
    padding-bottom: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .ingrid .tab__toggles {
    margin: 0;
    border: solid #DDD;
    border-width: 0 1px 1px;
  }

  .ingrid .tab__toggles a:hover {
    background: #F0F0F0;
  }

  .ingrid .tab__select.is-active + .tab__toggles {
    display: block;
  }

  .ingrid .tab__toggle {
    background: #f8f8f8;
    width: 100%;
  }

  .ingrid .mq-hide-l {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .ingrid .box--large .box__title {
    padding: 1.25rem 2.5rem;
  }

  .ingrid .box--large .box__content {
    padding: 2.5rem;
  }

  .ingrid .column--1-2-m {
    width: 50%;
  }

  .ingrid .column--1-3-m {
    width: 33.33334%;
  }

  .ingrid .column--1-4-m {
    width: 25%;
  }

  .ingrid .column--1-5-m {
    width: 20%;
  }

  .ingrid .column--1-6-m {
    width: 16%;
  }

  .ingrid .nav-overlay {
    margin-top: 4.75rem;
    min-height: calc(100% - 76px);
  }

  .ingrid .tabs--wide .tab__toggles {
    display: table;
    width: 100%;
  }

  .ingrid .tabs--wide .tab__toggle {
    display: table-cell;
  }

  .ingrid .tab__toggles {
    text-align: center;
  }

  .ingrid .ingrid .tab__toggles a:hover, .tab__toggles .is-active a {
    box-shadow: inset 0 -2px 0 0 #4EAD46, 0 4px 0 0 #4EAD46;
  }

  .ingrid .tab__toggle {
    text-align: center;
  }

  .ingrid .ingrid .sidebar, .sidebar + .content {
    display: inline-block;
    margin-right: -4px;
    padding: 3.75rem 0;
    vertical-align: top;
  }

  .ingrid .sidebar {
    box-shadow: inset -1px 0 0 #DDD;
    margin-bottom: 0;
    width: 15.625rem;
  }

  .ingrid .sidebar__content {
    background: transparent;
    display: block !important;
    margin-bottom: 0;
    padding: 0 0.625rem 0 0;
  }

  .ingrid .sidebar__widget {
    margin-right: -0.625rem;
  }

  .ingrid .sidebar__widget__content--pushed {
    padding-right: 0.75rem;
  }

  .ingrid .header__widget__icon {
    font-size: 1.125rem;
  }

  .ingrid .nav-toggle {
    width: 88px;
  }

  .ingrid .nav-toggle .icon {
    font-size: 2.25rem;
  }

  .ingrid .header__logo {
    margin-left: 6.25rem;
  }

  .ingrid .mobile__logo {
    height: 1.75rem;
  }

  .ingrid .footer__middle a {
    margin-left: 0;
  }

  .ingrid .copyright {
    margin-top: 6px;
  }

  .ingrid .mq-show-l {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 939px) {
  .ingrid .header__widgets__section {
    padding: 1.5rem 0;
  }

  .ingrid .header__widget__icon {
    top: 4px;
  }

  .ingrid .nav-toggle:after {
    border-width: 0 0 76px 20px;
  }

  .ingrid .sub-header {
    margin-top: 0.625rem;
  }

  .ingrid .footer__top {
    text-align: center;
  }

  .ingrid .footer__logo {
    margin-right: auto;
    margin-left: auto;
  }

  .ingrid .footer__middle a {
    margin-top: 4px;
    margin-bottom: 2px;
  }

  .ingrid .social_media_icon {
    text-align: center;
  }

  .ingrid .social_media_icon a {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1139px) {
  .ingrid .sidebar {
    left: 20px;
    padding-top: 4rem;
    position: absolute;
    top: 0;
  }

  .ingrid .sidebar.is-active + .content {
    box-shadow: -1px 0 0 #DDD;
    padding-left: 40px;
    transform: translateX(250px);
    width: calc(100% - 250px);
  }

  .ingrid .sidebar + .content {
    background: #fff;
    position: relative;
    padding-top: 4rem;
    transition: transform 0.25s;
    z-index: 1;
  }
}
@media screen and (max-width: 839px) {
  .ingrid .mq-hide-xl {
    display: none;
  }
}
@media screen and (min-width: 840px) {
  .ingrid .column--1-2-l {
    width: 50%;
  }

  .ingrid .column--1-3-l {
    width: 33.33334%;
  }

  .ingrid .column--2-3-l {
    width: 66.66666%;
  }

  .ingrid .column--1-4-l {
    width: 25%;
  }

  .ingrid .column--1-5-l {
    width: 20%;
  }

  .ingrid .block--padded {
    padding: 2.5rem 0;
  }

  .ingrid .block--pad-top {
    padding-top: 2.5rem;
  }

  .ingrid .block--pad-bottom {
    padding-bottom: 2.5rem;
  }

  .ingrid .mq-show-xl {
    display: none;
  }
}
@media screen and (max-width: 939px) {
  .ingrid .header {
    background: #4EAD46;
  }

  .ingrid .header.is-hiding ~ * {
    display: none;
  }

  .ingrid .header__widget {
    font-size: 1rem;
  }

  .ingrid .mq-hide-xxl {
    display: none;
  }
}
@media screen and (min-width: 940px) {
  .ingrid .column--3-4-xl {
    width: 75%;
  }

  .ingrid .column--1-2-xl {
    width: 50%;
  }

  .ingrid .column--1-3-xl {
    width: 33.33334%;
  }

  .ingrid .column--1-4-xl {
    width: 25%;
  }

  .ingrid .column--1-5-xl {
    width: 20%;
  }

  .ingrid .nav-overlay {
    display: none;
  }

  .ingrid .header__widgets__section {
    padding: 1.25rem 0;
  }

  .ingrid .header__widget > a {
    color: #28225B;
  }

  .ingrid .no-touchevents .header__widget > a:hover {
    color: #4EAD46;
  }

  .ingrid .header__widget__icon {
    height: 0.875rem;
    top: 2px;
  }

  .ingrid .header__widget__icon.is-active {
    fill: #4EAD46;
  }

  .ingrid .header__widget__text {
    font-size: 0.875rem;
  }

  .ingrid .header__logo {
    width: 16.875rem;
    margin-left: 0;
  }

  .ingrid .sub-header .icon-xs {
    margin-bottom: 0;
    top: 3px;
  }

  .ingrid .footer__top {
    padding: 1.625rem 1.25rem;
    text-align: left;
  }

  .ingrid .footer__top p {
    margin-top: 0;
    text-align: left;
    vertical-align: sub;
  }

  .ingrid .footer__logo {
    display: inline-block;
    margin-right: 1.5rem;
    vertical-align: middle;
  }

  .ingrid .footer__middle {
    padding: 0.875rem 1.25rem;
    text-align: left;
  }

  .ingrid .footer__middle a {
    margin-right: 3rem;
  }

  .ingrid .footer__bottom {
    padding: 0.5rem 0.625rem;
  }

  .ingrid .social_media_icon {
    text-align: right;
  }

  .ingrid .copyright {
    display: inline-block;
    vertical-align: text-top;
  }

  .ingrid .page {
    display: block;
    position: static;
  }

  .ingrid .mq-show-xxl {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .ingrid .header__logo {
    height: 4rem;
  }
}
@media screen and (min-width: 1140px) {
  .ingrid .sidebar + .content {
    background: #fff;
    box-shadow: -1px 0 0 #DDD;
    max-width: none;
    padding-left: 40px;
    position: relative;
    width: calc(100% - 250px);
    z-index: 1;
  }

  .ingrid .mq-show-xb {
    display: none;
  }
}
@media screen and (min-width: 1240px) {
  .ingrid .ob-box-padded-more {
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
