<div class="xsmall-6 small-4 medium-2 columns bkg-logo">
    <a target="_blank" href="http://www.adv-online.de/" title="AdV Webseite">
        <img src="user/themes/bkg_adv_mis/images/logo/advmis_logo.png" alt="Logo">
    </a>
</div>