{% extends 'partials/base.html.twig' %}

{% block content %}
    {% set theme = config.get('system.pages.theme') %}
    <div class="body" role="main">
        <div class="search-filtered row content-small">
            <div class="columns">
                {% set cmsPage = page.find('/' ~ page.folder ~ '/_themes/_' ~ theme) %}
                {% if cmsPage and cmsPage.content %}
                    {{ cmsPage.content|raw }}
                {% else %}
                    {{ page.content|raw }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
