{% extends 'partials/base.html.twig' %}

{% block stylesheets_leaflet %}
    {% do assets.addCss('theme://js/leaflet/plugins/leaflet.draw/leaflet.draw.css', 98) %}
    {% include 'partials/header/leaflet/css.html.twig' %}
{% endblock %}

{% block stylesheets_image_swiper %}
    {% include 'partials/header/swiper/css.html.twig' %}
{% endblock %}

{% block javascripts_leaflet %}
    {% include 'partials/header/leaflet/javascript.html.twig' %}
{% endblock %}

{% block javascripts_image_swiper %}
    {% include 'partials/header/swiper/javascript.html.twig' %}
{% endblock %}

{% block content %}
    {% import 'macros/default_macros.html.twig' as default_macros %}

    <div class="detail">
    {% if hit %}
        {% if hit.html %}
            {% include 'partials/detail/generic/detail_generic.html.twig' %}
        {% elseif detail_type == "address" %}
            {% include 'partials/detail/address/detail_address.html.twig' %}
        {% elseif detail_type == "metadata" %}
            {% include 'partials/detail/metadata/detail_metadata.html.twig' %}
        {% else %}
            {{ default_macros.render_error_msg("Keine Detailinformationen verfügbar.") }}
        {% endif %}
    {% else %}
        {{ default_macros.render_error_msg("Keine Detailinformationen verfügbar.") }}
    {% endif %}
    </div>
    {% include 'partials/global/side-menu/nicescroll.html.twig' %}
    {% include 'partials/global/side-menu/active-entry.html.twig' %}
    {% do assets.addJs('theme://js/htmx.min.js', {group: 'bottom'}) %}
{% endblock %}