{% if hit.geodataLink and hit.internalNotes %}
    <div class="sub-section">
        {# Geodatenlink #}
        {% if hit.geodataLink %}
            {{ hit_macros.render_label_text_row("SEARCH_DETAIL.GEO_DATALINK"|t, hit.geodataLink) }}
        {% endif %}
        {# Interne Bemerkungen #}
        {% if hit.internalNotes %}
            {{ hit_macros.render_label_text_row("SEARCH_DETAIL.INTERNAL_NOTES"|t, hit.internalNotes) }}
        {% endif %}
    </div>
{% endif %}