{% set footer_logo = theme_var('footer.logo') %}
{% set footer_logo_enabled = theme_var('footer.logo_enabled') %}

{% if footer_logo_enabled %}
<div class="logo">
    <a href="{{ home_url }}" title="{{ "PAGES.HOME_MENU_TITLE"|t }}">
        {% if footer_logo %}
            {% set footer_logo_file = (footer_logo|last).name %}
        {% else %}
            {% set footer_logo_file = 'logo_footer_1.png' %}
        {% endif %}
        <img class="footer__logo" src="{{ url('theme://images/logo/' ~ footer_logo_file) }}" alt="InGrid-Portal - Indexieren, Recherchieren, Visualisieren, Teilen">
    </a>
</div>
{% endif %}