{% set csw_enabled = theme_var('hit_search.csw_enabled') %}
{% if csw_enabled and csw_url %}
<p class="teaser-links-content">
    <a class="icon external-link" href="{{ csw_url ~ uuid }}" title="{{ "COMMON.XML_LINK"|t }}" target="_blank" rel="noopener noreferrer">
        <span class="ic-ic-download"></span>
        <span class="text">{{ "COMMON.XML_LINK_LABEL"|t }}</span>
    </a>
</p>
{% endif %}