{% if access|length > 0 %}
    <div class="sub-section">
        {% set tmpTitle = "SEARCH_RESULT.INFO_ACCESS_URL"|t %}
        {% if hit.obj_serv_type %}
            {% set tmpTitle = tmpTitle  ~ ": " ~ hit.obj_serv_type %}
        {% endif %}
        {{ hit_macros.render_fact_title(tmpTitle, access|length) }}
        <div class="document-list">
            {% for link in access %}
                <div class="list-item">
                    <div>
                        <a href="{{ link.url }}" class="icon external-link" title="{{ link.title }}" target="_blank" rel="noopener noreferrer">
                            <span class="ic-ic-external"></span>
                            <span class="text">
                                {{ link.title ?? link.url }}
                            </span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}