/* PRINT */

.body {
  padding-bottom: 0;
}

.popup {
  display: none;
}

.popup.is-open {
  display: block;
}

.teaser-data, .footer, .unbreak {
  page-break-inside: avoid;
  break-inside: avoid
}

.select2 {
  width: 100%!important;
}

footer {
  position: relative;
}

/* DETAIL */
.detail .row, .detail .timeline .timeline-text {
  display: block;
}

.detail .ic-ic-timeline-bullet {
  display:none;
}

/* SEARCH */
@-moz-document url-prefix() {
  .search-filtered .row {
    display: block;
  }
}

/* CATEGORY*/

.category .tabs-panel .row {
  display: block;
}

.category .tabs-content {
  background: transparent;
}

.category .tabs-panel .row .columns {
  flex: 0 0 100%;
  max-width: 100%;
}

.category .teaser .blue-border {
  display: none;
}

.category .teaser .teaser-link {
  padding: 10px;
  font-size: 16px;
}

.category .teaser .teaser-link .teaser-number {
  display: inline;
}

.category .teaser .teaser-link span:first-child {
  display: none;
}

.category .teaser {
  height: 10px;
  box-shadow: 0 0 0 0;
}
