<div id="social-media-footer" class="hide-for-small-only">
    <div class="socialmedia">
        <h2 class="aural">Service</h2>
        <ul class="columns">
            <li class="navAdvmis"><a class="external" href="http://www.adv-online.de/" title="Externer Link&nbsp;zur AdV Online Webseite (Öffnet&nbsp;neues&nbsp;Fenster)" target="_blank">AdV-online</a></li>
        </ul>
    </div>
</div>