{# Beschreibung #}
{% set summary_replace_newline = theme_var('hit_detail.summary_replace_newline') %}

<div class="section">
    <a class="anchor" id="{{ hash_description }}"></a>
    {{ hit_macros.render_title("SEARCH_DETAIL.DETAIL_DESCRIPTION"|t)}}
    <div class="row columns">
    {# Kurzbezeichnung #}
        {% for altTitle in hit.altTitle %}
            <p class="slab-bold">{{ altTitle }}</p>
        {% endfor %}
    {# Beschreibung #}
        {% if summary %}
            {{ hit_macros.render_text_only(removeHashLocale(summary)|replace({'\n': summary_replace_newline})|raw, true)}}
        {% endif %}
    {# Additional Information #}
        {% include 'partials/detail/metadata/parts/description/description_additional_info.html.twig' ignore missing %}
    {# Zeitbezug #}
        {% if isTimeInDescription %}
            {# Zeitbezug #}
                {% include 'partials/detail/metadata/parts/description/description_time.html.twig' %}
            {# Zeitbezug der Ressource #}
                {% include 'partials/detail/metadata/parts/description/description_time_resource.html.twig' %}
        {% endif %}
    </div>
</div>