{# Beschreibung #}

<div class="section">
    <a class="anchor" id="{{ hash_description }}"></a>
    {{ hit_macros.render_section_title("Beschreibung")}}
    <div class="row columns">
    {# Kurzbezeichnung #}
        {% if alternateTitle %}
            {% for altTitle in alternateTitle %}
                <p class="slab-bold">{{ altTitle }}</p>
            {% endfor %}
        {% endif %}
    {# Beschreibung #}
        {% if summary %}
        <div class="js-expand-box js-expand-text js-non-expand-text">
            <div class="js-expand-text-content">
                {{ hit_macros.render_section_text(summary)}}
            </div>
            <div class="desc-fade"></div>
        </div>
        <button type="button" class="js-open-expand-text button outline is-hidden" title="$MESSAGES.getString('search.detail.info.more')">
            $MESSAGES.getString('search.detail.info.more')
        </button>
        <button type="button" class="js-close-expand-text button outline is-hidden" title="$MESSAGES.getString('search.detail.info.less')">
            $MESSAGES.getString('search.detail.info.less')
        </button>
        {% endif %}
    {# Zeitbezug #}
        {% if isTimeInDescription %}
            {# Zeitbezug #}
                {% include 'partials/detail/metadata/parts/description/detail_metadata_description_time.html.twig' %}
            {# Zeitbezug der Ressource #}
                {% include 'partials/detail/metadata/parts/description/detail_metadata_description_time_resource.html.twig' %}
        {% endif %}
    </div>
</div>