<div class="menu-login-links">
    <h6 class="login_user">Login Bereich</h6>
    <a href="admin" title="Interner Bereich - Portal">
        <span class="text">Interner Bereich - Portal</span>
    </a>
    <a target="_blank" href="/ige-ng" title="Interner Bereich - Metadaten">
        <span class="text">Interner Bereich - Metadaten</span>
    </a>
    <a href="https://eu1.trueearth.io/mekun" target="_blank" title="Geodaten Hub">
        <span class="text">Geodaten Hub</span>
    </a>
</div>