<ul class="accordion filter-group" data-accordion data-multi-expand="true" data-allow-all-closed="true" role="tablist" >
    <li id="facet_area_header" class="accordion-item #if($geothesaurusTopics || $geothesaurusSelectTopics || $geothesaurusTerm)is-active#end" data-accordion-item>
        <a href="" class="accordion-title" aria-controls="facet-area-accordion" role="tab" id="facet-area-accordion-label" #if($geothesaurusTopics || $geothesaurusSelectTopics || $geothesaurusTerm)aria-expanded="true" aria-selected="true"#end>
            <span class="text">Nach Ort suchen</span>
        </a>
        <div class="accordion-content" data-tab-content role="tabpanel" aria-labelledby="facet-area-accordion-label" id="facet-area-accordion" #if(!$geothesaurusTopics && !$geothesaurusSelectTopics && !$geothesaurusTerm)aria-hidden="true"#end>
            <form action="$action" method="post" name="geothesaurus_form">
                <div class="input-search">
                    <input class="field" type="text" name="search_term" id="search_term"
                           hx-get="/api/area-search"
                           hx-trigger="keyup delay:500ms changed"
                           hx-target="#search-results" />
                    <button type="submit" name="doSearchGeothesaurus" value="$MESSAGES.getString("searchResult.facete.area.name.search.button")" class="button round">
                    <span class="ic-ic-lupe"></span>
                    </button>
                </div>

                <div id="search-results"></div>
            </form>
        </div>
    </li>
</ul>

