{# #renderCrossLink($action $MESSAGES.getString("searchResult.facete.area.name.delete")) #}

<h5>Geografischer Name</h5>
<div class="boxes">
    {% for item in geothesaurusTopics %}
    <div class="form-element boxed">
        <div class="input-radio">
            <div class="control-group">
                <label class="control control--checkbox" for="$topicId_$count">
                    <input id="$topicId_$count" type="checkbox" value="$topicId" name="chk$count" autocomplete="off"
{#                           #foreach($selectTopic in $geothesaurusSelectTopics)#}
{#                           #if($selectTopic.topicId == $topicId)#}
                           checked
{#                           #end#}
{#                           #end#}
                    >
                    <span class="control__indicator"></span>
                    {{ item }}
                </label>
            </div>
        </div>
    </div>
    {% endfor %}
    <button type="button" class="js-expander button outline filter_submit" id="facete_area_more">
        mehr
        <span class="ic-ic-angle-down"></span>
    </button>
    <div class="js-expander-content facete_area_more is-hidden ">
        {#            #end #}
        {#            #set($count = $count + 1) #}
        {#            #setMsgTopicType($topic.topic_ref) #}
        {#            #set($topicId = $topic.topicID) #}
        {#            #if($topic.topicNativeKey && $topic.topicNativeKey != "") #}
        {#            #set($topicId = $topic.topicNativeKey) #}
        {#            #end #}
        {#<div class="form-element boxed">
            <div class="input-radio">
                <div class="control-group">
                    <label class="control control--checkbox" for="$topicId_$count">
                        <input id="$topicId_$count" type="checkbox" value="$topicId" name="chk$count" autocomplete="off"
                                #}{#                                   #foreach($selectTopic in $geothesaurusSelectTopics) #}{#
                                #}{#                                   #if($selectTopic.topicId == $topicId) #}{#
                                #}{#                                   checked #}{#
                                #}{#                                   #end #}{#
                                #}{#                                   #end #}{#
                        >
                        <span class="control__indicator"></span>
                        $topic.title#renderMsgTopicType()
                    </label>
                </div>
            </div>
        </div>#}
{#        {% endfor %}#}
    </div>
    {% if (count > subFacetsCount) %}
        <div>
            <button type="button" class="js-expander-close facete_area_more button outline filter_submit is-hidden"
                    id="facete_area_more">
                weniger
                <span class="ic-ic-angle-up"></span>
            </button>
        </div>
    {% endif %}
    {#        ##renderCheckLink("#" $MESSAGES.getString('searchResult.facete.dialog.all.select') "faceteDialogSelectAll(document.geothesaurus_form)") #}
    {#        ##renderCrossLink("#" $MESSAGES.getString('searchResult.facete.dialog.all.delete') "faceteDialogDeselectAll(document.geothesaurus_form)") #}
    {% if(geothesaurusError) %}
        <p>
            $MESSAGES.getString('searchResult.facete.area.name.search.error')
        </p>
    {% endif %}
    <button type="submit" name="doAddGeothesaurus" class="button filter_submit">Auswahl anwenden</button>

    {#        #foreach ($geothesaurus in $geothesaurusSelectTopics) #}
    {#        #renderFaceteSelectedAttributeHashMapNumber ($action $title $elementsGeothesaurus $geothesaurus.topicId true) #}
    {#        #if($geothesaurusSelectTopics && $geothesaurusSelectTopics.size() > 1) #}
    {#        $action.setParameter("doRemoveGeothesaurus",  "all") #}
    {#        #renderCrossLink($action $MESSAGES.getString("searchResult.facete.area.name.delete")) #}
</div>
