# .github/workflows/devsecops.yml 
name: DevGuard DevSecOps

on:
    push:

permissions:
    contents: read
    packages: write

jobs:
    find-leaked-secrets:
        uses: ./.github/workflows/secret-scanning.yml
        with:
            asset-name: "wemove/projects/ingrid/assets/ingrid-portal"
            api-url: "https://api.devguard.wemove.com"
            web-ui: "https://devguard.wemove.com"
        secrets:
            devguard-token: "${{ secrets.DEVGUARD_TOKEN }}" # you need to create this secret in your GitHub repository settings
            GH_PAT: ${{ secrets.GH_PAT }}

    bad-practice-finder:
        uses: ./.github/workflows/static-application-security-testing.yml
        with:
            asset-name: "wemove/projects/ingrid/assets/ingrid-portal"
            api-url: "https://api.devguard.wemove.com"
            web-ui: "https://devguard.wemove.com"
        secrets:
            devguard-token: "${{ secrets.DEVGUARD_TOKEN }}" # you need to create this secret in your GitHub repository settings
            GH_PAT: ${{ secrets.GH_PAT }}

#    infrastructure-as-code-scanning:
#        uses: l3montree-dev/devguard-action/.github/workflows/iac.yml@main
#        with:
#            asset-name: "wemove/projects/ingrid/assets/ingrid-portal"
#            api-url: "https://api.devguard.wemove.com"
#            web-ui: "https://devguard.wemove.com"
#        secrets:
#            devguard-token: "${{ secrets.DEVGUARD_TOKEN }}" # you need to create this secret in your GitHub repository settings
#            GH_PAT: ${{ secrets.GH_PAT }}

#    dependency-scanning:
#        uses: l3montree-dev/devguard-action/.github/workflows/software-composition-analysis.yml@main
#        with:
#            asset-name: "wemove/projects/ingrid/assets/ingrid-portal"
#            api-url: "https://api.devguard.wemove.com"
#            web-ui: "https://devguard.wemove.com"
#        secrets:
#            devguard-token: "${{ secrets.DEVGUARD_TOKEN }}" # you need to create this secret in your GitHub repository settings 
#            GH_PAT: ${{ secrets.GH_PAT }}
